body{
  background-image: url(background.jpg);
  background-size: cover;
}

/* Riquadro + Font */
.contenuto{
  background-color: rgba(0,0,0,0.6);
  width: 60%;
  margin: auto;
  margin-top: 1%;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  padding: 2%;
}

/* Testata Principale */
header{
  text-align: center;
}

#logo{
  height: 100px;
  margin-top: 4%;
}

#titolo{
  color: #00FF00
}

#buttons{
  background-color: #00FF00;
  width: 80%;
  margin: auto;
  padding: 1%
}

/* Lista dei monopattini */
main{
  color: white;
  margin-left: 9%;
}

.monopattini{
  font-size: 20px
}

main>div{
  padding-top: 2%
}

/* Barra di carica monopattini */
#carica1{
  background-color: orange;
  width: 30%;
  height: 30px;
  border-radius: 5px;
}
#carica2{
  background-color: #00FF00;
  width: 50%;
  height: 30px;
  border-radius: 5px;
}
#carica3{
  background-color: red;
  width: 15%;
  height: 30px;
  border-radius: 5px;
}
